.booksListElement {

  height: 2em;
  display: grid;
  grid-template-columns: 6fr 2fr 2fr;
  gap: 2em;

  background-color: lightgoldenrodyellow;
  padding: 0.25em;
}

.booksListElement:hover {
  background-color: yellow;
  cursor: pointer;
}